<div class="items">
    <h2>Телефоны</h2>
    <div class="item_main">
        <div *ngFor="let item of items" (click)="select(item)" class="item_block">
            <div class="item_phone">
                <img src={{item.image}} alt="">
                <div class="">{{item.name}}</div>
                <div class="">{{item.price}} руб.</div>
                <div>
                    <button (click)="openModal('modalView')">В корзину</button>
                </div>
                <button (click)="add(item)">В список желаний</button>
            </div>
        </div>
    </div>
</div>

<modal id="modalView">
    <div class="modal">
        <div class="modal_close">
            <button (click)="closeModal('modalView');">X</button>
        </div>
        <div class="modal-body" >
            <h1>Добавление в корзину</h1>
            <div class="modal_main" *ngIf="selectedItem">
                <div class="modal_item_main">
                    <img src={{selectedItem.image}} alt="">
                    <div class="modal_item_main_info">
                        <div class="">{{selectedItem.name}}</div>
                        <div class="">Количество:</div>
                        <div class="">{{selectedItem.price}} руб.</div>
                        <button (click)="addToCart(selectedItem); closeModal('modalView'); ">Добавить в корзину</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>


