.items {
    padding: 41px;
}
.item_main {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    /*left: 6%;*/
}
.item_block {
    padding: 10px;
}
.item_phone {
    width:  370px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width:  200px;
    height: 200px;
    padding-left: 3px;
}
button {
    color: white;
    text-decoration: none;
    border-radius: 3px;
    background: rgb(64,199,129);
    font-size: small;
}
button:hover {
    background: rgb(53, 167, 110);
}

.item_block img {
    transition: -webkit-transform 0.25s ease;
}
.item_block img:active {
    -webkit-transform: scale(2);
}
.modal {
    width:  600px;
    height: 441px;
    margin: auto;
}
.modal-body h1 {
    text-align: center;
}
.modal_item_main img {
    width:  116px;
    height: 116px;
}
.modal_item_main_info {
    float: right;
    margin: 10px 47px;
}
.modal_close {
    text-align: center;
    float: right;
    padding: 38px 40px;
    position: relative;
    z-index: 1;
}