<div class="cart">
    <h2>Заказ</h2>
    <div class="cart_main">
        <div *ngFor="let item of items" class="cart_block">
            <div class="cart_phone">
                <img src={{item.image}} alt="">
                <div class="">{{item.name}}</div>
                <div class="">{{item.price}} руб.</div>
                <button>В список желаний</button>
            </div>
        </div>
    </div>
    <div class="cart_info">
        <form class="cart_form">
            <div>Имя*:</div>

            <div class="cart_info_name">
                <input type="text" name="name" placeholder="Имя" required="required">
            </div>

            <div>E-mail*:</div>

            <div class="cart_info_email">
                <input type="email" name="email" placeholder="e-mail" required="required">
            </div>

            <div>Телефон*:</div>

            <div class="cart_info_phone">
                <input type="text" name="phone" id="phone" placeholder="8 (XXX) XXX XX XX" required="required">
            </div>

            <div>Адрес доставки:</div>

            <div class="cart_info_address">
                <input type="text" name="address" placeholder="Адрес доставки" required="required">
            </div>

            <div>Напишите комментарий:</div>

            <div class="cart_info_comment">
                <input type="text" name="phone" placeholder="Комментарий">
            </div>

            <!--<input type="submit" value="Отправить">-->
            <button>Отправить</button>
        </form>
    </div>
</div>

