<div class="cart">
    <h2>Заказ</h2>
    <div class="cart_main">
        <div *ngFor="let item of items" class="cart_block">
            <div class="cart_phone">
                <img src={{item.image}} alt="">
                <div class="">{{item.name}}</div>
                <div class="">{{item.price}} руб.</div>
                <div class="cart_phone_count" *ngIf="item">
                    <p>Количество: </p>
                    <button (click)="decrease(item)">-</button>
                    <p>{{countOfItem}}</p>
                    <button (click)="increase(item)">+</button>
                </div>
                <div class="time">
                    Добавлено: {{myDate | amLocale: 'ru' | amTimeAgo}}
                </div>
                <button (click)="add(item)">В список желаний</button>
                <button class="delete" title="delete item" (click)="delete(item)">x</button>
            </div>
        </div>
    </div>
    <div style="color: green">
        testMode: {{items.length}} items
    </div>
    <!-- Вставка формы. Компонент FormComponent -->
    <div class="cart_info">
        <app-form></app-form>
    </div>
</div>

