.cart {
    padding: 41px;
}
.cart_main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    float: left;
    width: 800px;
}
.cart_block {
    width: 208px;
    padding: 10px 20px;
}
.time {
    font-size: x-small;
    width: 116px;
}
.cart_main img {
    width:  116px;
    height: 111px;
}
.cart_form button {
    width: 400px;
    height: 33px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    background: rgb(64,199,129);
    font-size: small;
}
.cart_form button:hover {
    background: rgb(53, 167, 110);
}
.cart_phone_count {
    display: flex;
    height: 23px;
}
.cart_phone_count button {
    margin: 0px 5px;
}