<!--
<div class="window_overlay">
    <div class="window_main" *ngIf="item">
        <a>Модель {{item.id}}</a>
        <div class="item_main">
            <img src="" alt="">
            <div class="">{{item.name}}</div>
            <div class="">{{item.price}} руб.</div>
            <button>Добавить в корзину</button>
        </div>
        <div>
            <p>Добавить в корзину</p>
        </div>
        <div class="window_close">
            <button (click)="onClose()">x</button>
        </div>
    </div>
</div>-->