.header {
  display: flex;
  justify-content: center;
  background: rgb(64,199,129);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 41px;
  list-style: none;
  margin: 0;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 20px;
}
.nav p {
    margin: 0px;
    font-size: smaller;
}
.header a {
  color: white;
  padding: 0px 21px;
}
a {
  text-decoration: none;
}
a img {
  width: 31px;
  height: 31px;
}
a:hover {
  text-decoration: none;
  color: black;
}
.content {
  padding-top: 41px;
}

/*стили для модального окна*/
.menu {
  display: flex;
}
.menu__content {
  float: left;
}
.menu .menu_btn {
  cursor: pointer;
  padding: 0px 21px;
  border: none;
  outline: none;
  color: white;
  margin: 0;
  font-size: 14px;
}
.menu_wishlist_info {
    margin-top: 6px;
}
.menu_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 181px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.menu_elem {
  display: flex;
  align-items: center;
  padding: 7px 0px;
}
.menu_elem img {
  width: 70px;
  height: 70px;
}
.menu_go {
  width: 161px;
  text-decoration: none;
  border-radius: 3px;
  background: rgb(64,199,129);
  font-size: small;
  text-align: center;
  margin: 10px;
}
.menu_btn img {
  width: 31px;
  height: 31px;
}
.show {
  display: block;
}